body {
  background-color: #caf0f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2  {
  color: #023e8a;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}